@import compass
@import compass/css3
@import colors.sass

@import url('http://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:400,700,400italic,700italic')

@import url('http://fonts.googleapis.com/css?family=Atkinson+Hyperlegible+Mono:400,700,400italic,700italic')

body
  font-family: "Atkinson Hyperlegible", sans-serif
  font-size: 20px
  line-height: 32px
  color: $unicorn
  background-color: $krasna

a
  color: $go-get-it

  //&:visited
  //  color: $schrill

.ko-fi
  float: right
  margin-right: 40px
  margin-top: 20px

#container
  width: 1200px
  padding: 20px
  margin: 0 auto

  > h1, > h1 a
    color: $unicorn
    text-decoration: none

  > section, > nav
    padding: 20px
    color: $unicorn
    background-color: lighten($krasna, 5%)
    border: 6px solid $butter3

    border-radius: 15px

  $section-width: 900px

  > section
    width: $section-width
    float: left
    margin-right: 20px

  > nav
    float: left
    width: 150px

  > footer
    clear: left
    width: $section-width
    text-align: center

  .archive
    color: $unicorn
    font-weight: bold
    display: block
    float: right

nav
  menu
    +no-bullets

    padding: 0

    a
      text-decoration: none
      text-transform: lowercase
      font-size: 23px
      font-weight: bold

article
  strong
    color: $dune
  header
    time
      color: $cool-as-ice
      font-style: italic
      float: right

  h1, h1 a
    color: $schrill
    text-transform: lowercase
    text-decoration: none
    font-size: 28px

  // h1 a:visited
  //   color: $cool-as-ice

  h1
    border-bottom: 1px solid $schrill

  h2
    color: $go-get-it
    font-size: 27px
    margin-top: 30px
    margin-left: -6pt

    a
      text-decoration: none
      &:hover:before, &:hover:after
        color: $backlit

      &:before
        content: "# "

      &:after
        content: " #"

  .fold
    display: none

  pre > code
    display: block
    padding: 15px

  code
    padding: 2px
    font-family: "Atkinson Hyperlegible Mono", "Monaco", monospace
    font-size: 20px
    // border: 1px solid $cool-as-ice
    background-color: $krasna
    line-height: 13pt

.center
  margin: 0 auto
  text-align: center

figcaption
  font-size: 70%
  margin: 0 auto

blockquote
  border: 1px solid $cool-as-ice
  background-color: $krasna
  padding: 0 20px

mark
  background-color: $backlit
  color: black
  padding: 5px

p
  text-indent: 25px
  &:first-child, figure + &, h2 + &, blockquote + &
    text-indent: 0

sup, sub
  vertical-align: baseline
  position: relative
  top: -0.4em
  a
    text-decoration: none
    &:before
      content: "["

    &:after
      content: "]"

hr
  border: none
  border-top: 2px solid $butter3
  margin: 40px 0

.footnotes ol
  box-sizing: border-box
  border-radius: 5px
  hr
    display: none

  color: $cool-as-ice
  a
    color: $backlit

  background-color: $krasna
  padding: 20px
  padding-left: 50px

  li:target
    color: $aluminum1
