- posts.each do |post|
  %article
    = partial 'post/header', locals: { post: post }

    - post.fold_split do |content, fold|
      != content.html_safe
      - if fold.present?
        .fold
          != fold.html_safe
          %a{href: "#{post.path}#comments"} Comments
        %a.read-more{href: post.path} more &raquo;
