- title post[:title]
- description post[:description] || post[:title]

%article
  = partial 'post/header', locals: { post: post }

  != post.html.html_safe

  - if Site[:disqus]
    #comments
      #disqus_thread
      :javascript
        var disqus_shortname = #{Site[:disqus].to_json}
          , disqus_identifier = #{post.key.to_json}
          , disqus_url = window.location.toString()
        ;

        /* * * DON'T EDIT BELOW THIS LINE * * */
        ;(function($) {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';

          $('head').append(dsq);
        })(jQuery);

      %noscript
        Please enable JavaScript to view the
        %a(href="http://disqus.com/?ref_noscript")
          comments powered by Disqus.

      %a(href="http://disqus.com" class="dsq-brlink")
        blog comments powered by
        %span(class="logo-disqus") Disqus
